@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.kanban {
    display: flex;
    justify-content: center;
    min-height: 400px;
    gap: 10px;
    padding: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #1e90ff;
    min-width: 200px;
    border-radius: 5px;
}

.item {
    background-color:#fff;
    padding: 10px;
    border-radius: 5px;
}

